[submodule "upstream"]
	path = upstream
	url = https://github.com/VladislavVulchevChaos/ChaosRayTracingCourse2025
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
